*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: cursive;
}
body{
    background-color: #2b2b2b;
    color: #d1d1d1;
}
.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.score{
    height: 20vh;
    display: flex;
    flex-direction: row;
}
.score h2{
    font-size: 2rem;
    color: #2ba198;
    text-shadow: 2px 1px 3px #00ffff;
    letter-spacing: 4px;
}
.score p{
    text-align: center;
    font-size: 1.8rem;
    margin-top: 1rem;
}
.intro{
    height: 50vh;
}
.intro h1{
    font-size: 2.2rem;
    color: #2ba198;
    text-shadow: 2px 1px 2px #009797;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    letter-spacing: 2px;
}
.intro h2{
    font-size: 1.5rem;
}
button{
    background-color: #2ba198;
    font-weight: 800;
    padding: 0.5rem 3rem;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    box-shadow: 0 0 5px #8ec7e2;
    outline: none;
    font-size: 1.3rem;
    color: #2b2b2b;
}
button:hover{
    transform: scale(1.12);
}
button:active{
    transform: scale(0.92);
}
.main{
    position: absolute;
    left: 50%;
    top: 50%;
    justify-content: center;
    transform: translate(-50%,-40%);
}
.main h1{
    text-align: center;
    font-size: 2.5rem;
    letter-spacing: 7px;
}
.main .choice-box{
    display: flex;    
}
.choice-box div{
    margin: 0 5rem;
    position: relative;
}
img{
    width:22rem;
}
.pChoice{
    transform: rotateY(180deg);
}
.button-container{
    text-align: center;
    display: flex;
    justify-content: space-around;
}
.fadeOut{
    visibility: hidden;
}
.animP{
    animation: shakeP 0.3s linear;
}
.animC{
    animation: shakeC 0.3s linear;
}

@keyframes shakeP {
    0%{transform: rotateY(180deg) translateY(-1rem);}
    20%{transform: rotateY(180deg) translateY(1rem);}
    40%{transform: rotateY(180deg) translateY(-1rem);}
    60%{transform: rotateY(180deg) translateY(1rem);}
    80%{transform: rotateY(180deg) translateY(-1rem);}
    100%{transform: rotateY(180deg) translateY(0);}
}

@keyframes shakeC {
    0%{transform: translateY(-1rem);}
    20%{transform: translateY(1rem);}
    40%{transform: translateY(-1rem);}
    60%{transform: translateY(1rem);}
    80%{transform: translateY(-1rem);}
    100%{transform: translateY(0);}
}
