*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: cursive;
}
body{
    background-color: #2e1010;
    color: #d1d1d1;
}
.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.score{
    height: 20vh;
    display: flex;
    flex-direction: row;
}
.score h2{
    font-size: 2rem;
    color: #a05131;
    text-shadow: 0 0 4px brown;
    letter-spacing: 4px;
}
.score p{
    text-align: center;
    font-size: 1.7rem;
    margin-top: 1rem;
}
.intro{
    height: 50vh;
}
.intro h1{
    font-size: 2.2rem;
    color: #a05131;
    text-shadow: 0 1px 4px brown;
}
.intro h2{
    font-size: 1.5rem;
}
button{
    background-color: #a05131;
    font-weight: 800;
    padding: 0.5rem 3rem;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    box-shadow: 0 0 7px 2px #a05131;
    outline: none;
}
.main{
    position: absolute;
    left: 50%;
    top: 50%;
    justify-content: center;
    transform: translate(-50%,-40%);
}
.main h1{
    text-align: center;
    font-size: 2.5rem;
    letter-spacing: 7px;
}
.main .choice-box{
    display: flex;    
}
.choice-box div{
    margin: 0 5rem;
}
img{
    width:22rem;
}
#pChoice img{
    transform: rotate(225deg);
}
#cChoice img{
    transform: rotate(45deg);
}
.button-container{
    text-align: center;
    display: flex;
    justify-content: space-around;
}
.fadeOut{
    visibility: hidden;
}
